.container__about-portrait {
    padding: 5rem 0rem;
}

.container__about-paragraph {
    padding: 5rem 0rem;
    background-color: white;
    border-left: black 1px solid;
}

.bio-photo {
    vertical-align: middle;
    height: auto;
    border-radius: 50%;
}

.bio-text {
    padding-left: 10rem;
}

@media only screen and (max-width: 1000px) {
    .bio-photo {
        vertical-align: middle;
        width: 85vw;
        height: auto;
        border-radius: 0;
    }

    .container__about-portrait {
        border-right: 0;
        padding: 1em 0em;
    }

    .container__about-paragraph {
        padding: 1rem 1rem;
        background-color: white;
        border-top: black 1px solid;
        border-left: 0px;
        margin: 0em 1em;
    }

    .bio-text {
        padding-left: 0rem;
    }
}