.container__about-portrait {
    border-right: black 1px solid;
    display: flex;
}

.container__about-paragraph {
    background-color: white;
}

.bio-photo {
    vertical-align: middle;
    height: auto;
    border-radius: 50%;
}

.bio-text {

}

@media only screen and (max-width: 1000px) {
    .bio-photo {
        vertical-align: middle;
        width: 85vw;
        height: auto;
        border-radius: 0;
    }

    .container__about-portrait {
        border-right: 0;
    }
}