/* Footer */
.footer-container {
    display: flex;
    justify-content: end;
}

.footer__footer {
    background: linear-gradient( rgb(0, 0, 0), rgb(100, 100, 100));
    color: white;
    font-size: x-large;
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    padding: 1% 1% .5% 1%;
}

    .avatar1 {
        vertical-align: middle;
        width: 3rem;
        height: auto;
        padding: 0px 5px;
    }

    .footer-list {
        display: inline-flex;
        list-style: none;
    }