.navigation {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    background-color: black;
    color: white;
}

.header {
    padding: 1em;
    color: white;
    font-size: xx-large;
    font-style: italic;
    font-style: oblique;
    font-weight: 400;
    vertical-align: middle;
}

.mobile-icon {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .navigation {
      display: flex;
      justify-content: space-between;
      height: 5rem;
      background-color: black;
      color: white;
  }
    
    .header {
        color: white;
        font-size: large;
        font-style: italic;
        font-style: oblique;
        font-weight: 400;
        vertical-align: middle;
        padding-top: 1.5rem;
    }

    .mobile-icon {
        display: flex;
        color: white;
        height: auto;
        width: 3rem;
        padding-right: 1rem;
        cursor: pointer;
    }
}