.navigation {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    background-color: black;
    color: white;
}

.header {
    padding: 1em;
    color: white;
    font-size: xx-large;
    font-style: italic;
    font-style: oblique;
    font-weight: 400;
    vertical-align: middle;
}


.navigationStyles {
    border-radius: 10%;
    color: lightgrey;
    font-weight: 300;
    font-size: large;
  }

  .navigationStylesActive {
    border-radius: 10%;
    color: whitesmoke;
    text-shadow: 0 0 0.2em rgb(250, 250, 250), 0 0 0.2em rgb(238, 197, 255), 0 0 0.2em rgb(216, 119, 255);
    font-weight: 500;
    font-size: large;
  }

.linkStyles {
    display: inline-block;
    list-style-type: none;
    padding: 2rem;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background-color: black;
    color: white;
}
  
  .header {
      color: white;
      font-size: large;
      font-style: italic;
      font-style: oblique;
      font-weight: 400;
      vertical-align: middle;
  }

  .navigation__links {
    display: none;
  }
}