.project__card-body {
    background-color: whitesmoke;
    z-index: 1;
}

.project__card-details {
    list-style-type: none;
    text-align: center;
    font-weight: 600;
}

.project__name {
    font-size: x-large;
    text-decoration: underline;
}

.homework__name {
    color: rgb(104, 104, 104);
}