.container__resume-item-1 {
    border-right: 1px solid black;
    padding: 5rem 0rem;
}

.container__resume-item-2 {
    align-items: center;
    text-align: center;
    padding: 3rem 0rem;
}

.resume {
    box-shadow: 2px 2px 5px rgb(61, 61, 61);
    height: 60vh;
    border: 1px solid lightgrey;
}

@media only screen and (max-width: 1000px) {
    .container__resume-item-1 {
        border-right: 0px;
        border-bottom: 1px solid black;
        padding: 0rem;
    }

    .container__resume-item-2 {
        padding: 2rem 0rem;
    }

    .resume {
        box-shadow: 2px 2px 5px rgb(61, 61, 61);
        height: auto;
        width: 75vw;
        border: 1px solid lightgrey;
    }
}